#AdminUsersPageContainerDiv{
    min-height: 100vh;
}

.AdminUsersPageWrapper{
    text-align: center;
}

#adminSearchField{
    margin: 50px auto 50px auto;
    width: 50%;
}


.card-header p{
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .AdminUsersPageWrapper {
        text-align: left;
    }
    #AdminUsersPageContainer {
        display: none;
    }
    #adminSearchField {
        width: 90%;
        margin: 0.8rem auto 0.8rem auto;
    }
}

